# APP CONFIG
APP_NAME=auth-service
APP_VERSION=0.0.1
APP_HOST=localhost
APP_PORT=4000
APP_ENVIRONMENT=development
APP_DOMAIN=http://localhost:4000

# DATABASE CONFIG
PG_DB_HOST=localhost
PG_DB_PORT=5432
PG_DB_USER=postgres
PG_DB_PASS=postgres
PG_DB_NAME=example
PG_MAX_CONNECTION=10
PG_IDLE_TIMEOUT=10000
PG_CONNECTION_TIMEOUT=5000

# JWT CONFIG
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

# REDIS CONFIG
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=root