# SERVER
AUTH_SERVICE_PORT=xxx

# DATABASE
AUTH_SERVICE_DB=postgres://username:password@localhost:5432/db_name

# ENVIRONMENT
AUTH_SERVICE_ENV=development

# DOMAIN
AUTH_SERVICE_DOMAIN=

# JWT
AUTH_JWT_ACCESS_TOKEN_SECRET=xxx
AUTH_JWT_REFRESH_TOKEN_SECRET=xxx